
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.orange-color{
    color: #FFB562;
}
.focus-section{
    display: flex;
    width: 100%;
    margin: 100px auto;
    max-width: 80vw;
}
h1{
    font-size: 50px;
    border-left: 5px solid #F87474;
    padding-left: 15px;
    font-family: 'Volkhov', serif;
    font-weight: 700;
}
.half-width{
    width: 50%;
}
.my-img{
    width: 100%;
}
.link-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #F87474;
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    margin: 20px 0;
}
p{
    font-size: 1.2rem;
}
h2{
    font-size: 40px;
    font-family: 'Paytone One', sans-serif;
}
.mission-section{
    max-width: 80vw;
    margin: 0 auto;
}
.mission-heading{
    text-align: center;
}
.mission-area{
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}
.mission-content{
    width: 30%;
    margin: 10px 10px;
    padding: 20px 20px;
    border-radius: 20px;
}
.mission-content img{
    width: 50%;
}
.mission{
    background-color: #edf5f5;
}
.vission{
    background-color: #ffeeee;
}
.goals{
    background-color: #fff4d6;
}
.develop-section{
    width: 100%;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 100px;
}

.develop-content{
    width: 65%;
    padding-left: 50px;
}
.develop-pic{
    width: 35%;
}
.develop-img{
    width: 100%;
}
.community-section{
    width: 100%;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 100px;
}
.community-content{
    width: 65%;
}
.community-pic{
    width: 35%;
    padding-left: 50px;
}
.community-img{
    width: 100%;
}
.app-area{
    width: 100%;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 100px;
}
.app-content{
    width: 70%; 
}
.app-pic{
    width: 30%;
}
.app-img{
    width: 70%;
}
.app-header{
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    color: #fff;
    height: 20vh;
    padding: 20px 0;  
}
.red-color{
    color: #F87474;
}
footer h2{
    font-size: 30px;
}
footer p{
    font-size: 14px;
    color: #999;
}


